@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Outfit", sans-serif;
  background: #fff;
  color: #222;
  min-height: 100vh;
}

/* Hide scrollbar for all browsers */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Change Text Selection Color */

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #0e2148;
}

::selection {
  color: white;
  background: #0e2148;
}

@theme {
  --color-primary: #0e2148;
}
